.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner {
	display: grid;
	place-items: center;
	height: 400px;
	width: 100%;
	background-image: url('/images/letters.jpg');
	background-size: cover;
	background-position: 50% 45%;
}

.banner h1 {
	font-size: 80px;
	color: rgb(32, 34, 34);
	padding: 20px;
	padding-bottom: 10px;
	border-radius: 10px;
	background-color: rgba(253, 249, 244, 0.5);
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(32, 34, 34);
}

.contact p {
	max-width: 90%;
	margin: 40px 0 20px;
	padding: 20px;
	border-radius: 10px;
	font-size: 20px;
	color: rgb(46, 51, 50);
	text-align: center;
	background-color: rgb(235, 236, 236);
	box-shadow: 2px 6px 6px rgb(141, 151, 149);
}

.contact a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: no-wrap;
	max-width: 90%;
	margin: 20px 0;
	padding: 20px;
	border-radius: 10px;
	font-size: 1.75rem;
	text-align: center;
	text-decoration: underline;
	word-break: break-all;
	background-color: rgba(253, 131, 9, 0.2);
	box-shadow: 2px 6px 6px rgba(253, 131, 9, 0.5);
	transition: 0.3s;
}
.contact a:hover {
	background-color: rgba(253, 131, 9, 0.4);
	box-shadow: 2px 4px 4px rgba(253, 131, 9, 0.7);
}

.icon {
	flex-shrink: 0;
	margin-right: 20px;
	padding: 10px;
	border-radius: 50%;
	font-size: 50px;
	color: rgb(46, 51, 50);
	background-color: rgba(253, 131, 9, 0.8);
}

@media screen and (max-width: 700px) {
	.banner h1 {
		font-size: 4rem;
	}
}

@media screen and (max-width: 550px) {
	.banner h1 {
		font-size: 3rem;
	}
	.contact a {
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 450px) {
	.banner h1 {
		font-size: 2rem;
	}
	.contact p {
		font-size: 1.125rem;
	}
	.contact a {
		font-size: 1.25rem;
	}
}

@media screen and (max-height: 800px) {
	.banner {
		height: 50vh;
		min-height: 280px;
	}
	.contact a,
	.contact p {
		margin: 15px 0;
		padding: 15px;
	}
}

@media screen and (max-height: 800px) and (max-width: 700px) {
	.banner {
		height: 30vh;
		min-height: 230px;
	}
}
@media screen and (max-height: 800px) and (max-width: 450px) {
	.banner {
		min-height: 180px;
	}
}
