.nav {
	position: fixed;
	top: 20px;
	right: 50%;
	transform: translateX(50%);
	padding: 10px 0;
	border-radius: 5px;
	background-color: rgba(253, 249, 244, 0.5);
}

.nav a {
	font-size: 1.5rem;
	transition: 0.3s;
	color: rgb(32, 34, 34);
	padding: 10px;
	border-radius: 5px;
}

.nav a:nth-child(2) {
	margin: 0 15px;
}
.nav a:hover {
	background-color: rgba(253, 131, 9, 0.5);
}
